# dfghjkl
    fghjk
    rtfgh
    -ghjmk,
        rftgyhjk,l

In [1]:
print("welcome to class")

welcome to class

In [2]:
x=123456098765
print(x)

123456098765

In [3]:
type(x)

int

In [5]:
x=6543234567
print(x)
print(type(x))

6543234567
<class 'int'>

In [6]:
x=3.2
print(x)
print(type(x))

3.2
<class 'float'>

In [8]:
x="wellcome to crt"
print(x)

wellcome to crt

# datatype coversion
   - int()
        - int()coverts the input into int class
    - str()
        - str()converts the input into string class
    - float()
        - float()converts the input into float class

In [9]:
f=3.4
print(f)
print(type(f))
x=int(f)
print(type(x))

3.4
<class 'float'>
<class 'int'>

In [21]:
x='25.78'
print(x, end='')
print(type(x))
a=float(x)
print(a,end='')
print(type(a))
b=int(a)
print(b,end ='')
print(type(b))

25.78<class 'str'>
25.78<class 'float'>
25<class 'int'>

###  input methods
   input() read the input in terms of string type
    - you the conversion methods to covert into respective type
         - like int()float() and string()

In [11]:
s=input('enter the name ')
print(s,end='')
print(type(s))

enter the name sat
sat<class 'str'>

In [12]:
a=float(input(''))
print(a,end='')
print(type(a))

3
3.0<class 'float'>

## control flow statements
- conditional statements
   -if-else
- looping statements
   - while
   - for

In [6]:
# read the num as input 
# give the output as even or odd
a=int(input("enter the value"))
if(a%2==0):
    print("even num")
else:
    print("odd")

enter the value9
odd

In [14]:
a=int(input("enter age"))
if(a>=18 and a<=85):
    print("eligible for voting")
else:
    print("not eligible for voting")

enter age5
not eligible for voting

In [16]:
a=10
b=4
print(a/b)#division but out put is decimal
print(a//b)#division but output is int
print(a%b)#modular division out put is reminder
print(a*b)#multiplication
print(a**)#power

2.5
2
2
40
10000

In [18]:
a=int(input("enter the first num "))
b=int(input("enter yhe sec num "))
if(a>b):
    print(b*b)
else:
    print(a*a)

enter the first num 4
enter yhe sec num 8
16

In [ ]:
# read the num as input
# give the out put as -ve or +ve or zero

In [25]:
a=int(input("enter the value"))
if(a<0):
    print("negitive")
elif(a>0):
    print("positive")
elif(a==0):
    print("zero")

enter the value0
zero

In [26]:
a=100
if a>10:
    print("good")
elif a>20:
    print("better")
else:
    print("best")

good

In [ ]:
# ++ and -- symbols not work in python
#while boolean_condition:
#statements

In [27]:
# print num from 1 to 10
a=1
while a<=10:
    print(a,end='')
    a=a+1

12345678910

In [ ]:
#read the n as input
#print the sum of n natural num
#5--15(1+2+3+4+5)

In [32]:
n=int(input("enter the num"))
a=1
sum=0
while a<=n:
    sum=sum+a
    a=a+1
print(sum)

enter the num5
15

In [ ]:
#read the input as n
#print only even num from 1ton
#10--2 4 6 8 10

In [39]:
n=int(input("enter the value"))
a=0
while a<=n:
    a=a+2
    print(a)

enter the value10
2
4
6
8
10
12

In [ ]:
n=int(input(''))
i=1
while i<=n:
    if i%2==0:
        print(i)
    i=i+1

In [ ]:
# print the factor

In [2]:
n=int(input("enter the num"))
a=1
while a<=n:
    if(n%2==0):
        print(a)
    a=a+1

enter the num24
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24